<div class="dashboard-wrapper">
    <div class="col-md-2 dashboard-sidebar-wrapper">
        <div class="dashboard-sidebar">

            <div class="dropdown">
                <button
                    class="btn btn-default btn-block dropdown-toggle"
                    type="button"
                    id="tourneyMenu"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="true">
                    {{$ctrl.tourneyMenuDisplay()}} <i
                        class="fa fa-caret-down"
                        aria-hidden="true"></i>
                </button>
                <ul
                    class="dropdown-menu"
                    aria-labelledby="tourneyMenu">
                    <li ng-repeat="tourney in $ctrl.tourneys"><a ng-click="$ctrl.displayTourney(tourney)">{{tourney.name}}</a></li>
                </ul>
            </div>

        </div>
    </div>
    <div class="col-md-10 pull-right dashboard-main-wrapper">
        <div class="dashboard-main">

            <div ng-hide="$ctrl.activeTourney">please select a tournament from the left.</div>

            <div
                class="panel panel-default"
                ng-show="$ctrl.activeTourney">
                <div class="panel-heading">
                    <h3>
                        {{$ctrl.activeTourney.name}}
                        <p class="text-muted">{{$ctrl.activeTourney.course}}: Par {{$ctrl.activeTourney.par}} | Cut Line @ {{$ctrl.activeTourney.cutLine}}</p>
                    </h3>
                    {{$ctrl.activeTourney.startDate | medium}} - {{$ctrl.activeTourney.endDate | medium}}
                </div>
                <div class="panel-body">

                    <div class="form-inline">
                        <div class="input-group">
                            <input
                                type="text"
                                class="form-control"
                                placeholder="search"
                                ng-model="$ctrl.searchInput"> <span
                                class="input-group-addon fa fa-search"
                                ng-click="$ctrl.search()"></span>
                        </div>
                    </div>

                </div>

                <!-- Table -->
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th><a ng-click="$ctrl.sortBy('rank')">rank</a></th>
                            <th><a ng-click="$ctrl.sortBy('name')">name</a></th>
                            <th>pick 1</th>
                            <th>pick 2</th>
                            <th>pick 3</th>
                            <th>pick 4</th>
                            <th>pick 5</th>
                            <th>win shares 1</th>
                            <th>win shares 2</th>
                            <th>win shares 3</th>
                            <th>win shares 4</th>
                            <th>win shares 5</th>
                            <th>total points</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="pick in $ctrl.picks | filter : $ctrl.filter | orderBy : $ctrl.sortExpression : $ctrl.sortDirection as filteredPicks">
                            <td>{{pick.rank}}</td>
                            <td>{{pick.name}}</td>
                            <td>{{pick.pick1}}</td>
                            <td>{{pick.pick2}}</td>
                            <td>{{pick.pick3}}</td>
                            <td>{{pick.pick4}}</td>
                            <td>{{pick.pick5}}</td>
                            <td>{{pick.winShares1 | currency : '$' : 2}}</td>
                            <td>{{pick.winShares2 | currency : '$' : 2}}</td>
                            <td>{{pick.winShares3 | currency : '$' : 2}}</td>
                            <td>{{pick.winShares4 | currency : '$' : 2}}</td>
                            <td>{{pick.winShares5 | currency : '$' : 2}}</td>
                            <td>{{pick.points}}</td>
                        </tr>
                    </tbody>

                </table>
            </div>

        </div>

        <div class="footer">hand rolled by nick.</div>
    </div>
</div>
