<div class="dashboard-wrapper">
    <div class="col-md-2 dashboard-sidebar-wrapper">
        <div class="dashboard-sidebar">sidebar</div>
    </div>
    <div class="col-md-10 pull-right dashboard-main-wrapper">
        <div class="dashboard-main">

            <pre>{{$ctrl.tourneys | json}}</pre>
            
            <hr/>

            <pre>{{$ctrl.entrants | json}}</pre>
            
            <hr/>

            <pre>{{$ctrl.picks | json}}</pre>

        </div>

        <div class="footer">hand rolled by nick.</div>
    </div>
</div>
